* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.admin-container {
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: #D2F6FC;

}

.logo {
    width: 140px;
    cursor: pointer;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #067EED;
    padding: 15px 7%;
}

.ul {
    flex: 1;
    list-style: none;
    text-align: center;

}

.ul li {
    color: #fff;
    display: inline-block;
    margin: 10px 20px;
    font-size: 20px;
    cursor: pointer;
}

.ul li:hover {
    color: #23374D;

}

.search-box {
    display: flex;
    align-items: center;
    background: #D2F6FC;
    padding: 10px 20px;
    border-radius: 50px;

}

.search-box input {
    padding: 6px;
    background: transparent;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 15px;
}

.search-box input::placeholder {
    color: #23374D;
}

.icon {
    width: 20px;
    cursor: pointer;

}